@using ContosoUniversity.Models
@model  Weather
@{
    ViewBag.Title = "Home Page";
}
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=usvEtUKoM9U714zTVtIBctb5B2wO1uzP"></script>
<div class="jumbotron">
    <h1>2017级软件技术二班</h1>
    <p class="label">案例教程</p>
</div>
<h3 id="city">@Model.City 今日天气</h3>

<ul>
    <li>温度：@Model.Temperature </li>
    <li>风向：@Model.wind</li>
    <li>穿衣指数：@Model.Wind_strength</li>
    <li>天气：@Model.WeatherInfo</li>
    <li>日期：@Model.week</li>
</ul>
<h3 id="city">json</h3>
<script type="text/javascript">

	// 百度地图API功能
	var geolocation = new BMap.Geolocation();
	geolocation.getCurrentPosition(function(r){
		if(this.getStatus() == BMAP_STATUS_SUCCESS){
		    console.log(r.address.city);
		    //alert('您的位置：'+r.point.lng+','+r.point.lat);
		    var ajax = new XMLHttpRequest();
		    ajax.open("POST","../home/getWeather",true);
		    ajax.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
		    ajax.send("city=" + r.address.city);
		    ajax.responseType = "json";
		    ajax.onload = function () {
		        if (ajax.status === 200) {
		            json = ajax.response;
		            document.querySelector("#city").textContent = json.City

		            console.log(json);
		        }
		    }
		}
		else {
			console.log("定位失败")
		}
	},{enableHighAccuracy: true})
</script>
