@using Xfrog.Net
@model JsonObject
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>2017级软件技术二班</h1>
    <p class="label">案例教程</p>
</div>
<h3>@(Model["result"].Object["today"].Object["city"].Value) 今日天气</h3>
<ul>
    <li>温度：@(Model["result"].Object["today"].Object["temp"]) </li>
    <li>风向：@(Model["result"].Object["today"].Object["wind"])</li>
    <li>穿衣指数：@(Model["result"].Object["today"].Object["dressing_advice"])</li>
    <li>天气：@(Model["result"].Object["today"].Object["weather"])</li>
</ul>
