@model MVC.VieswModels.EmPloyeeListViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h2>@Model.UserName,@Model.Greeting</h2>
    <div>

        @foreach (var item in Model.EmployeeViewList)
        {
            <li>@item.EmployeeName,@item.Salary,@item.SalaryGrade</li>
        }
    </div>
</body>
</html>
