@model MVC.VieswModels.EmPloyeeListViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h2>@Model.UserName,@Model.Greeting</h2>
    <p><a href="/Employee/AddNew">新增</a></p>
    <hr />
    <div>
        <table>
            <tr>
                <th>姓名</th>
                <th>工资</th>
                <th>级别</th>
            </tr>
        </table>
        @foreach (var item in Model.EmployeeViewList)
        {
            
            <li>@item.EmployeeName,@item.Salary,@item.SalaryGrade @*<a href="/employee/delete/@item.EmployeeId">删除</a>   <a href="/Employee/Updatepos/@item.EmployeeId">更改</a>*@</li>
            @Html.ActionLink("删除","Delete",new { id=item.EmployeeId})
            @Html.ActionLink("编辑", "Updatepos", new { id=item.EmployeeId})
        }
        <form action="/Employee/Select" method="post">

                <input type="text" id="TxtLName" name="Name" value="" /><br />
                <input type="submit" name="BtnSubmit" value="查询" />

        </form>
</div>
</body>
</html>
