@using MVC.Models;
@{
    Layout = null;
    Employee emp = (Employee)ViewData["EmpKey"];
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyGetView</title>
</head>
<body>
    <h1>@emp.Name,@((string)ViewData["greeting"])</h1>
    <hr />
    <div> 
        <h1>员工信息</h1>
        <p>姓名 @emp.Name</p>
        <p>工资 @emp.Salary</p>

    </div>
</body>
</html>
