@using MVC.Models;
@model Customer
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyGeView</title>
</head>
<body>
    <div>
        <h1>顾客信息</h1>
        <p>姓名 @Model.Address</p>
        <p>工资 @Model.CustomerName</p>
    </div>
</body>
</html>
